

@font-face {
 font-family: 'grand_hotelregular';
     src: url('grandhoyel-regular-webfont.woff2')
        format('woff2'),
         url('grandhotel-regular-webfont.woff')
        format('woff');
        font-weight: normal;
    font-style: normal;

}
@font-face {
      font-family: 'ostrich_sansmedium';
    src: url('ostrich-regular-webfont.woff2') format('woff2'),
         url('ostrich-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color:#FFB6C1;}


h1 {
    font-family: 'grand_hotelregular';
    color:#bf5263;
position: absolute
    top
}
p {
     font-family: 'ostrich_sansmedium';
    color: #bf5263;
        position: relative;
    top: 10px;
    left: 100px;
}

    position: relative;
    top:6px;
    left: 100px;

#header {
    padding: 20px;
    border: 1px #fff solid;
    margin: 30px;
    background-color: #eedcc2;
}

    #bodycopy
    {
    padding: 5px;
    border: 2px #ffffff solid;
    margin: 10px;
    background-color: #eedcc2;
    }

#helpmemom{
    font-family: 'ostrich_sansmedium';
        color: #bf5263;
    font-weight: normal;
    font-style:normal;
    position: absolute;
    top: 820px;
    left: 350px;
    width: 250px;
}
#rapture {
   right: 300px;
    color: #bf5263;
    float: right;
    width: 275px;
    font-size: 150%;
    font-style: italic;
    font-family: 'grand_hotelregular';
    margin-top: 2px;
    margin-bottom: 2px;
    border-top: 2px solid #0000;
    border-bottom: 2px solid #0000;

}
#thecomputerhatesme {
    position: absolute;
    top: 550px;
    left: 50px;
    font-size: 150%;
    font-style: italic;
    font-family: 'grand-hotelregular';
    margin-top: 2px;
    margin-bottom: 2px;
    border-top: 2px solid #0000;
    border-bottom: 2px solid #0000
}
#ahhh {
    z-index:10;
    position: fixed;
    top: 50px;
    right: 150px;
    width: 700px;
    font-size: 50%;
    font-style: normal;
    font-family: 'grand-hotelregular';
    margin-top: 2px;
    margin-bottom: 2px;
    border-top: 2px solid #0000;
    border-bottom: 2px solid #0000;
}
#grandfinale {
    position: static;
    top: 0px;
    left: 0px;
}
#jknow {
    position: fixed;
    top: 0px;
    left: 300px;
    font-style: oblique
}
#filler{
  float: right;
    right: 300px;
    font-style: italic
}



